{% extends "::public_empty_base.html.twig" %}

{% block main %}
        <div class="row">
            <div class="col-md-10 col-sm-12 col-md-offset-1">
                <aside>
                    {% for type, flash_messages in app.session.flashBag.all %}
                        {% for flash_message in flash_messages %}
                            <div class="alert alert-{{ type }}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                </aside>

                <main>
                    {% block content %}{% endblock %}
                </main>

                <footer>
                    FOOTER
                </footer>
            </div>
        </div>
    </div>
{% endblock %}