<table>
    <tr>
        <td><strong>Sender:</strong> {{ contact.senderName }} - {{ contact.senderEmail }}</td>
    </tr>
    <tr>
        <td><strong>Subject:</strong> {{ contact.subject }}</td>
    </tr>
    <tr>
        <td>
            <strong>Message:</strong>
            <p>
                {{ contact.content }}
            </p>
        </td>
    </tr>
</table>