/**
 * FONT
 */
/* latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: local('Permanent Marker'), local('PermanentMarker'), url(../fonts/permanent-marker.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/**
 * GLOBAL
 */
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
    .main {
        padding: 20px;
    }
}

body, html, .container-fluid, .fill {
    min-height: 100%;
    height: 100%;
}

.tab-pane {
    padding-top: 1em;
}

a:hover {
    text-decoration: none;
}

.important {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.permanent-marker {
    font-family: 'Permanent Marker', cursive;
}

.crop {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.crop img {
    position: absolute;
    width: 100%;
}

.divider-vertical {
    height: 40px;
    border-left: 1px solid gray;
    float: left;
    opacity: 0.5;
    margin: 5px 5px;
}

.divider-horizontal {
    border-top: 1px solid gray;
    opacity: 0.2;
    margin: 5px 0;
}

.padding-none {
    padding: 0 !important;
}

.margin-top-none {
    margin-top: 0;
}

.margin-top {
    margin-top: 1em;
}

form aside.caption {
    display: block;
    font-style: italic;
    margin-top: -1em;
}

.row {
    margin: 0;
}

.container .row, .container-fluid .row {
    margin: 0 -15px;
}

/**
 * ADMIN - NAVIGATION
 */
#admin .main-nav {
    background-color: #2A3F54;
    color: #FFF;
    padding: 0;
}

#admin .main-nav h1 {
    margin: 0;
    font-size: 1.5em;
    padding: 1em;
}

#admin .main-nav aside {
    background-color: #35495D;
    padding: 1em;
    text-align: center;
}

#admin .main-nav label {
    margin-left: 1em;
    font-weight: 400;
}

#admin .main-nav .side-menu li a {
    color: #FFF;
}

#admin .main-nav .side-menu li a:hover {
    background-color: #35495D;
}

/**
 * ADMIN - BLOG SAVE
 */
#admin .preview-slug {
    font-style: italic;
    color: #5e5e5e;
    font-size: 1em;
    margin: -10px 0 10px 0;
}

#admin .actions {
    margin-top: 20px;
    text-align: center;
}

#admin .tab-pane textarea {
    height: 40em;
}

/**
 * PUBLIC - GLOBAL
 */
body .public-page {
    padding-top: 70px;
    height: 100%;
}

body .public-page .navbar-nav {
    font-size: 1.3em;
}

/**
 * PUBLIC - BLOG LIST
 */
#blog-list.public-page .post .thumbnail {
    padding: 0;
}

#blog-list.public-page .post .title {
    font-size: 1.5em;
}

#blog-list.public-page .post .abstract {
    text-align: justify;
}

#blog-list.public-page .post .info {
    font-size: 1.2em;
}

#blog-list.public-page .post .caption {
    padding-left: 1.2em;
    padding-right: 1.2em;
}

#blog-list.public-page .posts .post .caption {
    height: 160px;
}

#blog-list.public-page .related-posts {
    margin-top: 5em;
}

#blog-list.public-page .related-posts .post .caption {
    height: 190px;
}

#blog-list.public-page .related-posts .title {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0.5em;
}


/**
 * PUBLIC - POST DETAILS
 */
#blog-details.public-page .post-content img {
    width: 100%;
    margin-bottom: 1em;
}

#blog-details.public-page .post-content p {
    margin-bottom: 1em;
}

#blog-details.public-page .comments .comment {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1em;
}

#blog-details.public-page .comments .reply {
    border-top: 1px dashed lightgrey;
    padding-top: 1em;
}

#blog-details.public-page .comments .avatar {
    width: 80px;
}

#blog-details.public-page .comments .content {
    padding-top: 0.3em;
}

#blog-details.public-page .comment .media-body {
    min-height: 80px;
}

#blog-details.public-page #add-comment textarea {
    height: 7em;
}

/**
 * PUBLIC - COMING SOON
 */
#coming-soon, #contact {
    background: url(../images/goodwp.com_32701.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    color: #FFF;
}

#coming-soon h1 {
    font-size: 3.4em;
    margin-top: 20%;
}

#coming-soon .social-network {
    position: absolute;
    bottom: 10%;
    width: 99%;
}

#coming-soon .social-network ul li a {
    font-size: 3em;
    color: #FFF;
    opacity: 0.8;
}

#coming-soon .social-network ul li a:hover {
    opacity: 1;
}

/**
 * PUBLIC - HOME
 */
#home.public-page section {
    margin-bottom: 3em;
}

#home.public-page .about p {
    font-size: 1.3em;
    padding: 2em 2em 0 2em;
}

#home.public-page .main-post {
    margin-top: -20px;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home.public-page .main-post .description {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 2em 2em 2em;
}

#home.public-page .main-post .description p {
    font-size: 1.3em;
    text-align: justify;
}

#home.public-page .instagram-overview {
    width: 100%;
}

/**
 * PUBLIC - CONTACT
 */
#contact.public-page  .wrapper {
    text-align: left;
    color: #000000;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 1.5em;
}

#contact.public-page  .wrapper h3 {
    margin-top: 0;
}

#contact.public-page  textarea {
    height: 10em;
}