/**
 * font-family: 'Gloria Hallelujah', cursive;
 * font-family: 'Pacifico', cursive;
 * font-family: 'Homemade Apple', cursive;
 * font-family: 'Reenie Beanie', cursive;
 * font-family: 'Permanent Marker', cursive;
 */


/**
 * GLOBAL
 */
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
    .main {
        padding: 20px;
    }
}

body, html, .container-fluid, .fill {
    min-height: 100%;
    height: 100%;
}

.tab-pane {
    padding-top: 1em;
}

a:hover {
    text-decoration: none;
}

.important {
    font-weight: 700;
}

.permanent-marker {
    font-family: 'Permanent Marker', cursive;
}

.crop {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.crop img {
    position: absolute;
    width: 100%;
}

.divider-vertical {
    height: 40px;
    border-left: 1px solid gray;
    float: left;
    opacity: 0.5;
    margin: 5px 5px;
}

.divider-horizontal {
    border-top: 1px solid gray;
    opacity: 0.2;
    margin: 5px 0;
}

.margin-top {
    margin-top: 1em;
}

/**
 * ADMIN - NAVIGATION
 */
#admin .main-nav {
    background-color: #2A3F54;
    color: #FFF;
    padding: 0;
}

#admin .main-nav h1 {
    margin: 0;
    font-size: 1.5em;
    padding: 1em;
}

#admin .main-nav aside {
    background-color: #35495D;
    padding: 1em;
    text-align: center;
}

#admin .main-nav .side-menu li a {
    color: #FFF;
}

#admin .main-nav .side-menu li a:hover {
    background-color: #35495D;
}

/**
 * ADMIN - BLOG SAVE
 */
#admin .preview-slug {
    font-style: italic;
    color: #5e5e5e;
    font-size: 1em;
    margin: -10px 0 10px 0;
}

#admin .actions {
    margin-top: 20px;
    text-align: center;
}

#admin .tab-pane textarea {
    height: 40em;
}

/**
 * PUBLIC - GLOBAL
 */
body #public {
    padding-top: 70px;
}

/**
 * PUBLIC - BLOG LIST
 */
#public .post .thumbnail {
    padding: 0;
}

#public .post .title {
    font-size: 1.5em;
}

#public .post .abstract {
    text-align: justify;
}

#public .post .info {
    font-size: 1.2em;
}

#public .post .caption {
    padding-left: 1.2em;
    padding-right: 1.2em;
}

#public .posts .post .caption {
    height: 160px;
}

#public .related-posts {
    margin-top: 2em;
}

#public .related-posts .post .caption {
    height: 190px;
}

#public .related-posts .title {
    text-align: center;
    font-size: 1.2em;
}

#public .comments .comment {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1em;
}

#public .comments .reply {
    border-top: 1px solid lightgrey;
    padding-top: 1em;
}

#public .comments .avatar {
    width: 80px;
}

#public .comments .content {
    padding-top: 0.3em;
}

#public .comment .media-body {
    min-height: 80px;
}