{% extends "::public_base.html.twig" %}

{% block content %}
    <section>
        {% for post in posts %}

            {% block title %}Blog{% endblock %}
            <article>
                <h2>
                    <a href="{{ path('blog_post_details', {'slug': post.slug}) }}" title="{{ post.title }}">
                        {{ post.title }}
                    </a>
                </h2>
                <span>{{ post.publication|date('d/M/y') }}</span>
            </article>
        {% endfor %}
    </section>
{% endblock %}
